version: "3.7"
services:
  rabbit:
    image: rabbitmq:3-management
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER=hume
      - RABBITMQ_DEFAULT_PASS=hume!rabbit2013
  orchestra:
    image: docker..com/internal/hume-orchestra:1.0.9-SNAPSHOT
    ports:
      - 8100:8100
  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password123
      POSTGRES_USER: hume
    ports:
      - "5432:5432"
  neo4j:
    image: neo4j:3.5.11-enterprise
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=neo4j/{{hume_cloud_web_neo4j_password}}
      - NEO4J_dbms_memory_heap_maxSize=4G
  neo4j4:
    image: neo4j:4.0.0-enterprise
    ports:
      - "7575:7474"
      - "7788:7687"
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=neo4j/{{hume_cloud_web_neo4j_password}}
      - NEO4J_dbms_memory_heap_maxSize=4G
      - NEO4J_dbms_connector_bolt_advertised__address=orchestra.review.hume..com:7788
  api:
    image: docker..com/internal/hume-api:{{hume_cloud_web_api_tag}}
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/hume
      - SPRING_DATASOURCE_USERNAME=hume
      - SPRING_DATASOURCE_PASSWORD=password123
      - NEO4J_HOST=neo4j
      - NEO4J_PASSWORD={{hume_cloud_web_neo4j_password}}
      - HUME_NLP_ENGINE_ENABLED=true
      - HUME_GATEWAY_URI=https://user:password@gateway.dev.hume..com
      - HUME_NLP_ENGINE_DRIVER=feign
      - HUME_KG_MULTIGRAPH=false
      - HUME_BLOBSTORE_ADAPTER=minio
      - HUME_BLOBSTORE_ADAPTER_S3_HOST=https://minio.dev.hume..com
      - HUME_BLOBSTORE_ADAPTER_S3_IDENTITY={{hume_cloud_web_minio_access_key}}
      - HUME_BLOBSTORE_ADAPTER_S3_CREDENTIAL={{hume_cloud_web_minio_access_secret}}
      - HUME_BLOBSTORE_CONTAINER=-hume-review-orchestra
      - HUME_KG_NLP_ENABLED=true
      - "COM_HUME_CORE_SECURITY_LICENSE_B64={{hume_cloud_web_license_key}}"
      - EUREKA_URI=https://discovery.dev.hume..com/eureka
      - feign.client.config.default.connectTimeout=160000000
      - feign.client.config.default.readTimeout=160000000
      - hume.orchestra.uri=http://orchestra:8100
      - com.hume.core.admin.setup.step.admin_creation.auto=true
      - com.hume.core.admin.setup.step.admin_creation.username=admin@hume.ga
      - com.hume.core.admin.setup.step.admin_creation.name=admin
      - com.hume.core.admin.setup.step.admin_creation.password=admin
    depends_on:
      - postgres
  web:
    image: docker..com/internal/hume-web:orchestra
    restart: always
    environment:
      - HUME_API_URL=https://api.orchestra.review.hume..com
networks:
  default:
    external:
      name: reverse_proxy
